.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        text-align: center;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 100%;
        z-index: 2000;
        cursor: pointer;
    }

    &__icon {
        position: relative;
        margin-top: 3.5rem;
        // height: 2px !important;

        &,
        &::after,
        &::before {
            height: .2rem !important;
            width: 3rem;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::after,
        &::before {
            height: .1rem !important;
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);

        // transform: scale(80);
    }

    &__nav {
        height: 100vh;
        z-index: 1500;
        position: fixed;
        top: 0;
        left: 0;

        width: 0;
        transform: translateX(-6rem);
        opacity: 0;
        transition: all .87s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position: absolute;
        top: 50%;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            color: $color-white;
            padding: 1rem 3rem;
            text-decoration: none;
            font-size: 3rem;
            font-weight: 300;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 224%;
            transition: all .4s;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }

        span {
            margin-right: 1.5rem;
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
        transform: translateX(0);
    }

    
}